* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #000000;
}

.grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 7px;
    gap: 10px;
}

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 600px;
}


h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 19px;
}

.todo {
    background-color: white;
    width: 400px;
    height: 500px;
    border-radius: 4rem;
    border:  1px solid rgb(138, 136, 136);
    box-shadow: white 10px 10px 20px 6px;
}

button {
    font-size: 20px;
    width:79px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: black;
    color: white;
}

input {
    height: 30px;
    border-radius: 10px;
    width: 30px;
}

.output {
    background-color: black;
    color: white;
    display: grid;
    height: 200px;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    align-items: flex-start;
}



.show-list {
    color: white;
}



.delete {
    color: rgb(0, 0, 0);
    background-color: white;
    width: 20px;
    border-radius: 0px;
    height: 20px;
    float: right;
    
}

.task {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch;
    float: unset;
    padding: 8px;



}

input {
    font-size: 12px;
}


#input {
    font-size: 20px;
}

.lists {
    width: 100px;

}

.check {
    float: left;
    margin:  -8px;
  
}

.addlist {
    width: 300px;
}

.check:checked + #taskname {
    text-decoration: line-through;
}
